.row-container{
    /* flex row */
    display: flex;
    flex-direction: row;
}

.left-side-bar{
    width: 200px; 
    background-color: #e6e1fa;
    width: 100vw;
    height: 100vh;
}

.section-container{
    width: 100vw;
    height: 100vh;
    background-color: chartreuse;
}